body {
    background-color: whitesmoke
 }

#center-img {
    
    left: 150px;
}
#right-img {

    left: 300px;
}
.basic {
    display: inline-block
}
#basic_img {
   
    left: 250px;
}
#info_pic {
    
    left: 500px;
}