                body {
    background-color: whitesmoke;
  }

#img {
    position: relative;
    align-self: left
}

#txt-hd1 {
    position: absolute;
    top: 27.1%;
    left: 33%;
    font-size: 110%;
    margin:0%
}

#txt--hd1 {
    position: absolute;
    top: 39.7%;
    font-size: 107%;
    left: 33%;
    margin: 0%
}

#txt-hd2 {
    position: absolute;
    top: 76.1%;
    left: 33%;
    font-size: 110%;
    margin:0%
}

#txt--hd2 {
    position: absolute;
    top: 88.7%;
    left: 33%;
    font-size: 107%;
    margin: 0%
}

#txt-hd3 {
    position: absolute;
    top: 128%;
    left: 33%;
    font-size: 110%;
    margin:0%
}

#txt--hd3 {
    position: absolute;
    top: 140.8%;
    left: 33%;
    font-size: 107%;
    margin: 0%
}

#txt-hd4 {
    position: absolute;
    top: 178%;
    left: 33%;
    font-size: 110%;
    margin:0%
}

#txt--hd4 {
    position: absolute;
    top: 187%;
    left: 33%;
    font-size: 107%;
    margin: 0%
}

#txt-hd5 {
    position: absolute;
    top: 226.5%;
    left: 33%;
    font-size: 110%;
    margin:0%
}

#txt--hd5 {
    position: absolute;
    top: 236%;
    left: 33%;
    font-size: 107%;
    margin: 0%
}

#txt-hd6 {
    position: absolute;
    top: 268.6%;
    left: 33%;
    font-size: 110%;
    margin:0%
}

#txt--hd6 {
    position: absolute;
    top: 285%;
    left: 33%;
    font-size: 107%;
    margin: 0%
}

#txt1 {
    position: absolute;
    bottom: 20%;
    font-size: 140%;
    color: white;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
    top: 40%;
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0.8%;
    text-align: left;
    height: 12%;
    width: 30%;
    margin: 0% 
}

#txt2 {
    position: absolute;
    bottom: 20%;
    color:white; 
    font-size: 140%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
    top: 85.5%;   
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0.8%;
    text-align: left;
    height: 12%;
    width: 30%; 
} 

#txt3 {
    position: absolute;
    /* bottom: -55px; */
    color:white;
    font-size: 140%;
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
    top: 137.4%;   
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 0.7%;
    text-align: left;
    height: 7%; 
} 

#txt4 {
    position: absolute;
    /* bottom: -55px; */
    color:white;
    font-size: 140%;
     background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
    top: 183.8%;   
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0.8%;
    text-align: left;
    height: 12%;
    width: 30% 
} 

#txt5 {
    position: absolute;
    bottom: -100%;
    color:white;
    font-size: 140%;
     background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
    top: 231%;   
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0.7%;
    text-align: left;
    height: 15.5%;
    width: 30% 
} 

#txt6 {
    position: absolute;
    /* bottom: -55px; */
    color:white;
    font-size: 140%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border: 3px solid #f1f1f1;
    top: 283%;   
    left: 16%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0.7%;
    text-align: left;
    height: 11%;
    width: 30% 
} 

#n-txt {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold; 
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;
    font-size: 300%;    
  }




#n {
    font-size: 150%;
}

#n-img {
    width: 100%;
    height: 550px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
   

#image {
    position: relative;
}

#title {
    position: absolute;
    bottom: 750px;
    left: 425px;
    color: black;
    font-size: 1.75cm
    /* top:100px */
}

#n-buttons {
    position: absolute;
    bottom: 100% ;
    left: 200px;
}

#buttons {
    position: absolute;
    bottom: 100% ;
    left: 200px;
    background-color: black;
}

#stories_btn:hover {color: blue}
#stories_btn {
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: -100px;
}

#wild_btn:hover {color: blue}
#wild_btn {
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left:200px
}

#suggest_btn:hover {color:blue}
#suggest_btn {
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 500px
}
    
#about_btn:hover {color:blue}
#about_btn {
    overflow: hidden;
    background-color: transparent ;
    border: none;
    color: black;
    padding: 20px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 800px;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
   /* #n-img { 
    /* The image used */
    
    
    /* Add the blur effect */
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    
    /* Full height */    
    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  /* } */
  
  /* Position text in the middle of the page/image */
  
   /* * { 
     box-sizing: border-box; 
   } */
   
/* #extra {
    color: red;
    text-decoration: none;

}
   */
 









