.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  body {
    background-color: whitesmoke;
 }
  
  #center-img {
      
      left: 170px;
  }
  #right-img {
     
      left: 300px;
      
  }
  .basic {
      display: inline-block
  }

  #info_img {
      
      left: 200px
  }

  #appearence_img {
      position: relative;
      left:450px
  }