body {
   background-color: whitesmoke
}


#panda_pic{
   position: relative;
}




 
 #tiger_pic {
    position: relative;
    top: -340px;
    left: 50px
    
 }

 
 #elephant_pic {
   position: relative;
   top: -680px;
   left: 1100px;
 }
#shark_pic {
   position: relative;
   left: -435px;
   top: -10px
}