body {
   background-color: whitesmoke
}


#panda_pic{
   position: relative;
   top: 20%;
   left: 0%;
}




 
 #tiger_pic {
    position: relative;
    top: 100%;
    left: 00%;
    
 }

 
 #elephant_pic {
   position: relative;
   top: 20%;
   left: 20%;
 }
#shark_pic {
   position: relative;
   top: 50%;
    left: 00%;
}